.weatherImg {
  width: 50px;
  height: 50px;
}
.weatherDiv {
  width: 500px;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/910/10/429/artwork-dom-yellow-olly-moss-wallpaper-preview.jpg");
}
